@media only screen and (min-width: 60em) {
    nav {
		max-width: 100%;
	}
    .theheader{
		display: grid;
    	grid-template-columns: 1fr 1fr 2fr 1fr;
    	width: 100%;
	}
    #navigate {
		grid-column: 3/4;
	}
	nav ul li a {
		font-size: 1.5rem;
	}
    #navigate {
		display: flex;
	}
	
	nav ul li a {
		border-bottom: none;
	}
    .social {
		grid-column: 4/5;
	}
    footer {
		max-width: 100%;
	}
    nav button {
		display: none;
	}
	.contact-info {
		width: 50%; 
		height: auto;
		text-align: left;
		margin-left: 0px;
		background-color: aqua;
		border: solid #19da36;
	} 
	.card-container{
		display: grid;
		grid-template-columns: 1fr 1fr;
		/* justify-items: center; */
  		grid-gap: 20px;
	}
	.weather{
		background-color: red;
  		grid-column: 1/1;
		grid-row: 1/1;
	}
	.summary{
		grid-column: 2/2;
		grid-row: 1/1;
		background-color: green;
	}
	.call{
		grid-column: 1/1;
		grid-row: 2/2;
		background-color: gray;
		
	}
	.infomation{
		grid-column: 2/2;
		grid-row: 2/2;
		background-color: rgb(229, 255, 0);
	}
}