@media only screen and (min-width: 60em) {
    nav {
		max-width: 100%;
	}
    .theheader{
		display: grid;
    	grid-template-columns: 1fr 1fr 2fr 1fr;
    	width: 100%;
	}
    #navigate {
		grid-column: 3/4;
	}
	nav ul li a {
		font-size: 1.5rem;
	}
    #navigate {
		display: flex;
	}
	
	nav ul li a {
		border-bottom: none;
	}
    .social {
		grid-column: 4/5;
	}
}