header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.theheader {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.heading {
	display: flex;
	flex-direction: column;
	padding: 5px;
}
.logo{
	align-items: center;
	width: 100%;
}
header,
footer {
	text-align: center;
	color:  white;
	background-color: #19DA36;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
header h1{
    color: white;
}
#date{
    color:white;
}
nav {
	margin: 0 auto;
	max-width: 100%;
	font-size: 16px;
}
nav ul {
	display: none;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color:  white;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 1rem;
}
.home-main {
	padding: 10px;
	margin: 10px;
	display: grid;
}
.hero img{
	width: 100%;
	height: auto;
}
.call{
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 10px;
}
.summary{
  align-items: center;
  text-align: center;
  padding: 10px;
  justify-content: center;
}
.summary img{
	width:100%;
	height:auto;
}
.call img{
	height: auto;
	width: 100%;
}
.infomation img{
	width:50%;
	height:auto;
}
.weather{
  align-items: center;
  text-align: center;
  padding: 10px;
  justify-content: center;
}
.infomation{
  align-items: center;
  text-align: center;
  padding: 10px;
  justify-content: center;
}
.drink-link {
	margin-top: 20px;
}
.drink-link a{
	color: white;
	width: 150px;
	padding: 10px;
	background-color: #E81586;
	border-radius: 1em;
	
  } 
.forecast {
	display: flex;  
	justify-content: center; 
	align-items: center;
	
}
.forecast > div{
	flex: 1;
}
.home-main{
	background-color: rgb(164, 212, 210);
}
nav button {
	margin: 0.2rem 2vw;
	background: black;
	font-size: 2rem;
	color: white;
	border: none;
}
nav ul.open {
	display: block;
}

nav a:hover {
	background-color: blue;
}
#hamburgerBtn span:nth-child(1) {
	display: block;
}

#hamburgerBtn.open span:nth-child(1) {
	display: none;
}

#hamburgerBtn span:nth-child(2) {
	display: none;
}

#hamburgerBtn.open span:nth-child(2) {
	display: block;
}
.contact-us-card{
	padding: 20px;
	justify-content: center;
}
.history-card{
	padding: 20px;
	justify-content: center;
}

.hero h2{
	text-align: center;
}
/* .fruit-show{
	display: flex;
} */
hr{
	height: 5px;
	width: 100%;
	background-color: blue;
}
